/* FONTS */
@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Light.woff2') format('woff2'),
  url('Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Bold.woff2') format('woff2'),
  url('Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Regular.woff2') format('woff2'),
  url('Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Custom Prop */
:root{
  --bg-color: rgb(222, 138, 137);
  --title-color: rgb(235, 218, 217);
  --timer-bg: rgb(62, 60, 61);
  --temperature-bg: rgb(53, 51, 52);
  --load-bg: rgb(32, 30, 31);
}

/* GLOBAL STYLES */

html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: var(--bg-color);
}

img{
  max-width: 100%;
  height: auto;
}


/* CONTAINER*/
.container{
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN CONTENT */
.main-content{
  flex-grow: 1;
}

/* HEADER */
.header {
  margin: 0;
  padding: 0;
  margin-top: 70px;
  padding-left: 220px;
}
.material-type {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;

}
.material-type-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

}

.material-type-list li:first-child{
  color: #fff;
}

.material-type-name {
  font-size: 48px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  color: var(--title-color);
}

.material-type-name:not(last-child){
  margin-right: 70px;
}
.washing-tips-box {
  width: 630px;
}

.washing-tips-info {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  color: #fff;
}


/* WASHING FEATURES */
.washing-feature-section {
  position: relative;
  width: 100%;
  max-width: 900px;
  height: auto;
  margin-left: 220px;
}
.washing-feature {
  display: flex;
  align-items: center;
}
.feature-type-item {
  width: 33.3%;
  padding: 60px 80px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  color: #fff;
  background: #000;
}
.feature-type-item-name {
  color: var(--bg-color)
}
.feature-type-item-time {
  font-size: 28px;
  line-height: 1.5;
  font-weight: 700;
}

.timer{
  background-color: var(--timer-bg);
}

.temperature{
  background-color: var(--temperature-bg);
}

.load{
  background-color: var(--load-bg);
}

/* BUTTONS */
.button{
  width: 80px;
  height: 80px;
  background-color: var(--title-color);
  border: none;
  cursor: pointer;
  opacity: 0.6;
}

button:hover{
  opacity: 1;
}

.down-button {
  position: absolute;
  top: 0;
  right: 100%;

}

.up-button {
  position: absolute;
  top: 0;
  left: 100%;
}

.start-button{
}

.button-start {
  position: absolute;
  left: 20px;
  top: 90%;
  width: 260px;
  border: none;
  background-color: var(--load-bg);
  color: #fff;
  padding: 16px 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.button-start:active{
  position: relative;
  top: 1px;
}

.arrow-img{
  width: 15px;
}